- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [10]:
import pandas as pd
import zipfile

In [2]:
# не меняем путь!
PATH = 'https://github.com/aksenov7/Kaggle_competition_group/blob/master/athlete_events.csv.zip?raw=true'

__0. Откройте файл используя необходимые параметры и не меняя переменную PATH__

In [154]:
data = pd.read_csv(PATH, compression='zip', sep=',')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. Сколько лет было самым молодым мужчинам и женщинам-участникам Олимпийских игр 1992 года ?__
- 16 и 15
- 14 и 13 
- 13 и 11
- 11 и 12

In [21]:
#Результаты прямо скажем удивительные. Не подумал бы что совсем дети могут участвовать в играх.
data[data['Year']==1992].groupby('Sex')['Age'].min()

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

__2. Каков был процент баскетболистов-мужчин среди всех мужчин-участников Олимпийских игр 2012 года? Округлите ответ до первого десятичного знака.__

Здесь и далее при необходимости отбрасывайте дублированных спортсменов, чтобы считать только уникальных . 
- 0.2
- 1.5 
- 2.5
- 7.7

In [127]:
a = data[(data['Sex']=='M')&(data['Sport']=='Basketball')&(data['Year']==2012)]['Name'].nunique()
b = data[(data['Sex']=='M')&(data['Year']==2012)]['Name'].nunique()
round(a/b*100,1)

2.5

__3. Каковы среднее и стандартное отклонение роста теннисисток, участвовавших в Олимпийских играх 2000 года? Округлите ответ до первого десятичного знака.__

- 171.8 и 6.5
- 179.4 и 10
- 180.7 и 6.7
- 182.4 и 9.1

In [75]:
a = data[(data['Sex']=='F')&(data['Year']==2000)&(data['Sport']=='Tennis')].drop_duplicates()['Height']
print(round(a.mean(),1))
print(round(a.std(),1))

171.8
6.5

__4. Найдите спортсмена, который участвовал в Олимпийских играх 2006 года, с наибольшим весом среди других участников той же Олимпиады. Каким спортом он или она занимался?__

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [66]:
a = data[(data['Year']==2006)]['Weight'].max()
data[(data['Weight']==a)&(data['Year']==2006)]
#Господин Patrick R. Antaki занимался скелетоном

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8102,4476,Patrick R. Antaki,M,41.0,185.0,127.0,Lebanon,LIB,2006 Winter,2006,Winter,Torino,Skeleton,Skeleton Men's Skeleton,NaN

__5. Сколько раз John Aalberg участвовал в Олимпийских играх в разные годы?__

Один год - это один раз. Неважно сколько участий внутри одного года
- 0
- 1 
- 2
- 3

In [128]:
data[data['Name']=='John Aalberg']['Year'].nunique()

2

__6. Сколько золотых медалей по теннису выиграли спортсмены сборной Switzerland на Олимпиаде-2008? Считайте каждую медаль от каждого спортсмена.__

- 0
- 1 
- 2
- 3

In [86]:
data[(data['Team']=='Switzerland')&(data['Year']==2008)&(data['Medal']=='Gold')].shape[0]

3

__7. Правда ли, что на Олимпийских играх 2016 Spain выиграла меньше медалей, чем Италия?__ 

- Да
- Нет

In [93]:
data[(data['Team'].isin(['Spain','Italy']))&(data['Year']==2016)].groupby(['Team'])['Medal'].value_counts()
#Мы видим, что итальянцы взяли больше медалей

Team   Medal
Italy  Silver    38
       Bronze    24
       Gold       8
Spain  Silver    19
       Bronze    17
       Gold       7
Name: Medal, dtype: int64

__8. К какой возрастной категории принадлежало наименьшее и наибольшее количество участников Олимпиады-2008?__

- [45-55] и [25-35) соответственно
- [45-55] и [15-25) соответственно
- [35-45) и [25-35) соответственно
- [45-55] и [35-45) соответственно

In [159]:
def categories(a):
    if a in range(15,25):
        return '[15-25)'
    elif a in range(25,35):
        return '[25-35)'
    elif a in range(35,45):
        return '[35-45)'
    elif a in range(45,56):
        return '[45-55]'
    
data['cat'] = data['Age'].apply(categories)
data[data['Year']==2008]['cat'].value_counts()
#Видим, что категория [25-35) самая многочисленная, а [45-55] самая малочисленная

[25-35)    6367
[15-25)    6294
[35-45)     790
[45-55]     119
Name: cat, dtype: int64

__9. Правда ли, что в Atlanta проводились летние Олимпийские игры? Правда ли, что в Squaw Valley проводились зимние Олимпийские игры? ?__

- Да, Да
- Да, Нет
- Нет, Да 
- Нет, Нет

In [125]:
print('Atlanta:', data[data['City']=='Atlanta']['Games'].unique()[0])
print('Squaw Valley:', data[data['City']=='Squaw Valley']['Games'].unique()[0])
#Как видно, в Атланте проводились летние игры (в 1996), а в Долине Скво проводилсь зимние игры (в 1960)

Atlanta: 1996 Summer
Squaw Valley: 1960 Winter

__10. Какова абсолютная разница между количеством уникальных видов спорта на Олимпиаде 1986 года и Олимпиаде 2002 года?__

- 3 
- 10
- 15
- 27

In [113]:
#Полагаю, что автор опечатался и имел ввиду игры 1896 года, потому что в 1986 году Олимпиада не проводилась
a = data[data['Year']==1896]['Sport'].unique().shape[0]
b = data[data['Year']==2002]['Sport'].unique().shape[0]
print(abs(a-b))

6